<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit page</title>
</head>
<body>
    <h3>id:<%= chat._id %></h3>
    <p>From :<%= chat.from %> to: <%= chat.to %></p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea rows="2" cols="2" name="message" ><%= chat.message %></textarea>
        <button>edit</button>
    </form>
</body>
</html>